html {
	display: block;
	overflow-y: scroll;
}

#home_content_boxes {
	display: none !important;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #ddd !important;
		background: #222 !important;
	}
	
	#header h2 {
		color: #ddd !important;
	}

	.home_content_box_button {
		background: #222 !important;
	}
	
	.home_content_box_button:hover, .home-button:hover {
		background: #009688 !important;
		color: #ddd !important;
		border: 1px solid #009688 !important;
	}
	
	.home-button, .green-button, .home_content_box_button {
		color: #ddd !important;
	}
	
	.green-button {
		color: #ddd !important;
		background: #555 !important;
	}
	
	.home_content_box a, #prev_next a, #home_posts_list a {
		color: #ddd !important;
	}
	
	.meta a {
		color: #ddd !important;
	}

	.post tr:nth-child(even) {
		background: #444 !important;
	}
	
	.highlight, #cta {
		background: #444 !important;
		color: #ddd !important;
	}
	
	.light {
		display: none !important;
	}
	
	.dark {
		display: inline !important;
	}
	
	#header, #home_about_boxes, #fourohfour, nav {
		border-bottom: 1px solid #444 !important;
	}
	
	#home_about_boxes, #footer, nav {
		border-top: 1px solid #444 !important;
	}
	
	.home_about_box, .home_content_box {
		border-right: 1px solid #444 !important;
	}

	.home_about_box:last-of-type, .home_content_box:last-of-type {
		border-right: none !important;
	}
	
	.home-link {
		color: #999 !important;
		font-style: italic;
	}
	
	a.home-index {
		color: #ddd !important;
	}
	
	.blog-index .home_content_box_title {
		border-top: 1px solid #444 !important;
	}
	
	#blog-index-cols h2 {
		background: none !important;
		border: 1px solid #666 !important;
		color: #ddd !important;
	}
	
	#blog-index-cols h2.green-title {
		background: #555 !important;
		border: 1px solid #666 !important;
		color: #ddd !important;
	}	
}

.dark {
	display: none;
}

.non_flex {
	display: none;
}

.flex {
	display: flex;
}

body {
	color: #333;
	font-family: Roboto, Arial, sans-serif;
	font-size: 12pt;
	line-height: 1.4em;
}

#site-container {
	max-width: 750px;
	margin: 0 auto;
	padding: 0 15px;
}

#header {
	float: left;
	width: 100%;
	padding: 10px 0 10px;
	border-bottom: 1px solid #ddd;
}

#header_left h2 {
	float: left;
}

#header_left {
	float: left;
}

#header_left a {
	float: left;
}

#header_right {
	float: right;
	padding-top: 9px;
}

@media screen and (max-width: 400px) {
    #header_right {
        display: none !important;
    }
}

.link_icon_twitter {
	float: right;
	padding-left: 5px;
	width: 35px;
	margin-top: -5px;
}

.link_icon_email {
	float: right;
	padding-left: 10px;
	width: 25px;
}

.site_logo {
	width: 40px;
	height: 40px;
	float: left;
	padding-top: 0px;
	padding-right: 10px;
}

#home_about {
	float: left;
	padding-bottom: 20px;
}

#home_about_bio {
	float: left;
	padding: 20px 0;
	line-height: 1.4em;
}

#home_about_boxes, #home_content_boxes {
	float: left;
	width: 100%;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#home_content_boxes {
	border-top: none;
	border-bottom: none;
}

.home_about_box {
	float: left;
	width: 221px;
	padding: 0 15px 5px 0;
	margin: 10px 20px 10px 0;
	border-right: 1px solid #ddd;
}

.home_content_box {
	float: left;
	width: 349px;
	padding: 0 15px 0 0;
	margin: 10px 20px 15px 0;
	border-right: 1px solid #ddd;
}

.home_about_box:last-of-type, .home_content_box:last-of-type {
	margin-right: 0;
	border-right: none;
}

@media screen and (max-width: 749px) {

    .home_box {
		float: left !important;
        width: 100% !important;
		border-right: 0 !important;
		padding-right: 0 !important;
		border-bottom: 1px solid #ddd !important;
		padding-bottom: 15px !important;
		margin-bottom: 0px !important;
    }

    img.half {
    	width: 100% !important;
    }
	
	.home_box:last-of-type {
		border-bottom: none !important;
	}
	
	.content_image_caption {
		width: 100% !important;
		margin: 0 !important;
	}
		
	blockquote {
		margin-left: 12% !important;
	}
	
	#home_posts_list {
		padding-bottom: 5px !important;
	}
	
	#home_posts_list .blog_entry_date {
		width: 30% !important;
	}

	#home_posts_list .blog_entry_title {
		width: 70% !important;
	}
	
	.home_about_box .home_content_box_title_left {
		display: none !important;
	}
	
	.blog_entry {
		padding-bottom: 10px !important;
	}
	
	.flex {
		display: none;
	}
	
	.non_flex {
		display: block;
	}
	
	nav {
		display: none;
	}
	
	.blog-index-col {
		width: 100% !important;
	}
	
	#blog-index-cols h2,.blog-index-pinned-post {
		width: 91.5% !important;
	}
	
	.home_content_box_title_left.reading-list {
		width: 30% !important;
	}
	
	.home_content_box_title_right.reading-list {
		width: 70% !important;
	}
}

@media screen and (max-width: 749px) and (prefers-color-scheme: dark) {
	.home_box {
		border-bottom: 1px solid #555 !important;
    }
	
	.home_box:last-of-type {
		border-bottom: none !important;
	}
}

.home_content_box_title {
	width: 100%;
	float: left;
}

.home_content_box_title_left {
	float: left;
	width: 50%;
}

.home_content_box_button {
	float: right;
	padding: 5px 10px;
	margin-right: 10px;
	margin-top: 5px;
	color: #009688;
	background: #fff;
	border: 1px solid #009688;
	border-radius: 5px;
}

.home_content_box_title_left .home_content_box_button {
	float: left;
}

.home_content_box_button:hover, .home-button:hover {
	background: #009688;
	color: #fff;
}

.home_content_box_title_right {
	float: right;
	width: 50%;
	padding-bottom: 10px;
}

.home_about_box h2, .home_content_box h2, #home_posts_list h2 {
	float: left;
	font-size: 14pt;
	width: 100%;
	padding-bottom: 5px;
	margin-top: 10px;
}

.home_about_box p, .home_content_box p, #home_posts_list p {
	float: left;
	font-size: 12pt;
	padding: 0 0 10px 0;
	line-height: 1.4em;
}

.home_about_box ul, .home_content_box ul {
	float: left;
	font-size: 12pt;
	line-height: 1.4em;
	margin: 0;
	padding: 0 0 0 20px;
}

.home_about_box ul li, .home_content_box ul li {
	float: left;
	width: 100%;
	margin: 0 0 5px;
	padding: 0 0 0 5px;
}

.home_about_box p:last-of-type {
	padding-bottom: 5px;
}

.home_content_box a, #home_posts_list a {
	text-decoration: none;
	color: #333;
}

.year_label {
	font-weight: bold;
	padding-right: 5px;
	color: #009688;
}

#home_posts_list .blog_entry_date {
	float: left;
	width: 15%;
}

#home_posts_list .blog_entry_title {
	float: left;
	width: 85%;
}

.blog_entry, .blog_entry_date, .blog_entry_title {
	float: left;
}

.blog_entry {
	width: 100%;
	padding-bottom: 5px;
}

.blog_entry:hover {
	opacity: 0.8;
}

#home_posts_list {
	width: 100%;
	float: left;
	padding: 10px 0 20px;
}

#prev_next {
	float: left;
	width: 100%;
	margin-top: 25px;
	font-weight: normal;
	font-style: italic;
	font-size: 12pt;
}

.prev {
	float: left;
	width: 45%;
	padding-right: 5%;
}

.next {
	text-align: right;
	float: right;
	width: 45%;
	padding-left: 5%;
}

#footer {
	float: left;
	width: 100%;
	border-top: 1px solid #ddd;
	padding: 20px 0;
	margin: 0 0 30px;
}

.post #footer {
	margin-top: 20px;
}

.home #footer {
	padding-top: 20px;
	margin-top: 0px;
}

.home-link {
	float: right;
	color: #333;
}

img {
	float: left;
	width: 100%;
}

img.half {
	width: 70%;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

img a {
	border: none;
}

.content_image {
	padding-top: 30px;
}

.content_image_caption {
	float: left;
	width: 70%;
	text-align: center;
	font-size: 10pt;
	line-height: 1.2em;
	margin: 0 15%;
	padding: 5px 0 10px;
	font-style: italic;
}

a {
	color: rgb(27, 149, 224);
	color: #009688;
}

#prev_next a {
	text-decoration: none;
	color: #333;
}

h1 {
	float: left;
	line-height: 1.2em;
	margin-bottom: 10px;
	width: 100%;
}

h2 {
	float: left;
	font-size: 24pt;
	margin: 10px 0;
}

#header h2 {
	color: #333;
}

h3 {
	float: left;
	margin: 0;
	padding-top: 50px;
}

p {
	float: left;
	width: 100%;
	padding: 20px 0 0;
	margin: 0;
}

.post p {
	font-size: 12pt;
	line-height: 1.4em;
}

.post h3 {
	font-size: 18pt;
	width: 100%;
}

.post h4 {
	float: left;
	font-size: 12pt;
	line-height: 1.4em;
	padding: 40px 0 0 0;
	margin: 0;
}

.post ol, .post ul {
	float: left;
	margin: 30px 0 -5px;
	padding: 0 0 0 5%;
	font-size: 12pt;
	line-height: 1.4em;
	width: 95%;
}

.post ol p, .post ul p {
	padding: 0 !important;
	margin: 0 !important;
}

.post ol {
	list-style: none;
	counter-reset: item;
}

.post ol li {
	counter-increment: item;
	width: 100%;
}

.post ol li:before {
	content: counter(item) ". ";
	color: #009688;
	font-weight: bold;
	margin-left: -23px;
	width: 1.2em;
	text-align: center;
	display: inline-block;
}

.post li {
	float: left;
	padding-bottom: 15px;
	padding-left: 10px;
	width: 100%;
}

blockquote, .highlight {
	float: left;
	font-size: 12pt;
	line-height: 1.4em;
	border-left: 5px solid #009688;
	padding-left: 15px;
	width: 70%;
	margin: 30px 0 10px 15%;
	font-style: italic;
}

.highlight {
	overflow-x: auto;
	width: 95%;
	margin-left: 0;
	background: #ddd;
	color: #333;
}

.highlight pre {
	margin-top: 0;
}

.language-python {
	float: left;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}

blockquote p:first-of-type {
	padding-top: 0 !important;
}

.meta {
	float: left;
	text-transform: uppercase;
	font-size: 12pt;
	padding-bottom: 20px;
}

.meta a {
	text-decoration: none;
	color: #333;
}

::selection {
	background: #009688;
	color: #ddd;
}

.post table {
	float: left;
	width: 100%;
	margin-top: 20px;
}

.post tr:nth-child(even) {
	background: #ddd
}

.post table tr:first-of-type {
	border-bottom: 5px solid #009688;
}

.post td {
	padding: 5px;
}

#cta {
	float: left;
	background: #ddd;
	color: #333;
	padding: 10px 15px;
	margin: 50px 0 0;
	border-radius: 10px;
}

#cta a {
	color: #009688;
}

#fourohfour {
	float: left;
	width: 100%;
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
}

#fourohfour p {
	padding-top: 5px;
}

nav {
	padding: 5px 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	float: left;
	width: 100%;
	margin: 5px 0 20px;
	text-align: center;
}

nav a {
	float: left;
	display: block;
	padding: 0 10px;
	margin: 0 auto;
}

nav a:first-of-type {
	padding-left: 0;
}

#home_posts_list a.current {
	color: #009688 !important;
}

hr {
	float: left;
	width: 100%;
	margin: 20px 0 0 0;
}

.home-button {
	width: 95%;
	float: left;
	padding: 5px 10px;
	margin-bottom: 10px;
	color: #333;
	border: 1px solid #666;
	border-radius: 5px;
}

.green-button {
	color: #333;
	background: #ddd;
}

.green-button:hover {
	border: 1px solid #009688;
}

a.home-index {
	color: #333;
}

a.home-index:hover {
	opacity: 0.8;
}

#blog-index-pinned {
	float: left;
	padding: 0;
	line-height: 1.4em;
	width: 100%;
}

#blog-index-pinned .home_content_box_title {
	padding-top: 0 !important;
	margin-top: 0 !important;
	border-top: none !important;
}

.blog-index-pinned-post {
	float: left;
	border: 1px solid #009688;
	border-radius: 5px;
	padding: 5px 10px;
	width: 208px;
	margin-right: 20px;
	margin-bottom: 15px;
}

.blog-index-pinned-post:hover {
	opacity: 0.8;
}

.blog-index-pinned-post p {
	line-height: 1.4em;
	padding: 0 !important;
}

.blog-index-pinned-post-title {
	margin: 5px 0;
	font-weight: bold;
}

.blog-index .home_content_box_title {
	padding-top: 10px;
	border-top: 1px solid #ddd;
}

#blog-index-cols {
	width: 100%;
	float: left;
	padding: 0 0 20px;
}

#blog-index-cols h2 {
	font-size: 12pt;
	width: 85%;
	color: #333;
	background: none;
	border: 1px solid #666;
	border-radius: 5px;
	padding: 5px 10px;
	font-weight: normal;
}

#blog-index-cols h2.green-title {
	margin-top: 20px;
	margin-bottom: 5px;
	border: 1px solid #666;
	color: #333;
	background: #ddd;
}

#blog-index-cols ul {
	float: left;
	margin-top: 0px;
	margin-bottom: 20px;
}

#blog-index-cols li {
	float: left;
	width: 100%;
}

#blog-index-cols a:hover {
	opacity: 0.8;
}

.blog-index-col {
	float: left;
	width: 50%;
}

.reading-list li {
	margin-bottom: 10px;
}