html {
	display: block;
	overflow-y: scroll;
}

#home_content_boxes {
	display: none !important;
}

nav a {
	float: left;
	display: block;
	padding: 0 10px;
	margin: 0 auto;
	border-bottom: none !important;
	color: #333 !important;
}

nav a:first-of-type {
	padding-left: 0;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #ddd !important;
		background: #222 !important;
	}

	nav a {
		color: #ddd !important;
	}

	#newsletter_post {
		border-top: 1px solid #444 !important;
	}

	#home_posts_list .blog_entry_excerpt {
		color: #bbb !important;
	}

	.green-button {
		background: #ddd !important;
	}

	#side_menu a, #other_posts_list a {
		color: #ddd !important;
	}

	article, .post_content_container_ext {
		border-top: 1px solid #444 !important;
	}

	#side_menu ul li, #other_posts_list ul li {
		border-top: 1px solid #444 !important;
	}

	#home_sidebar {
		background: #333 !important;
	}
	
	#home_about_bio {
		border: 1px solid #666 !important;
		background: #333 !important;
	}

	#header h2 {
		color: #ddd !important;
	}

	.home_content_box_button {
		background: #222 !important;
	}
	
	.home_content_box_button:hover, .home-button:hover {
		background: #009688 !important;
		color: #ddd !important;
		/*border: 1px solid #009688 !important;*/
	}
	
	.home-button, .green-button, .home_content_box_button {
		color: #ddd !important;
	}
	
	.green-button {
		color: #ddd !important;
		background: #555 !important;
	}
	
	.home_content_box a, #prev_next a, #home_posts_list a {
		color: #ddd !important;
	}
	
	.meta a {
		color: #ddd !important;
	}

	.post tr:nth-child(even) {
		background: #444 !important;
	}

	.post tr:nth-child(odd) {
		background: #333 !important;
	}

	.post tr:first-of-type {
		background: #009688 !important;
	}
	
	.highlight, #cta {
		background: #444 !important;
		color: #ddd !important;
	}
	
	.light {
		display: none !important;
	}
	
	.dark {
		display: inline !important;
	}
	
	#fourohfour, nav {
		border-bottom: 1px solid #444 !important;
	}
	
	#footer, nav {
		border-top: 1px solid #444 !important;
	}
	
	.home_content_box {
		border-right: 1px solid #444 !important;
	}

	.home_about_box:last-of-type, .home_content_box:last-of-type {
		border-right: none !important;
	}
	
	.home-link {
		color: #999 !important;
		font-style: italic;
	}

	.blog_entry{
		border-bottom: 1px solid #444 !important;
	}
	
	a.home-index {
		color: #ddd !important;
	}
	
	.blog-index .home_content_box_title {
		border-top: 1px solid #444 !important;
	}
	
	#blog-index-cols h2 {
		background: none !important;
		border: 1px solid #666 !important;
		color: #ddd !important;
	}
	
	#blog-index-cols h2.green-title {
		background: #555 !important;
		border: 1px solid #666 !important;
		color: #ddd !important;
	}	
}

.dark {
	display: none;
}

.non_flex {
	display: none;
}

.flex {
	display: flex;
}

body {
	color: #333;
	font-family: Roboto, Arial, sans-serif;
	font-size: 12pt;
	line-height: 1.4em;
}

#site-container {
	max-width: 750px;
	margin: 0 auto;
	padding: 0 15px;
}

#header {
	float: left;
	width: 100%;
	padding: 10px 0 15px;
}

#header_left h2 {
	float: left;
}

#header_left {
	float: left;
}

#header_left a {
	float: left;
	border-bottom: none !important;
}

#header_right {
	float: right;
	padding-top: 9px;
}

@media screen and (max-width: 400px) {
    #header_right {
        display: none !important;
    }
}

.link_icon_twitter {
	float: right;
	padding-left: 10px;
	padding-right: 15px;
	width: 20px;
	margin-top: 2px;
}

.link_icon_email {
	float: right;
	padding-left: 10px;
	width: 25px;
}

.site_logo {
	width: 40px;
	height: 40px;
	float: left;
	padding-top: 0px;
	padding-right: 10px;
	padding-left:;
}

#home_about {
	float: left;
	padding-bottom: 20px;
}

#home_about_bio {
	float: left;
	padding: 15px;
	font-family: "Roboto", Arial, sans-serif;
	line-height: 1.5em;
	border-bottom: 1px solid #ddd;
	background: #ddd;
	border: 1px solid #aaa;
	border-radius: 10px;
	margin-bottom: 5px;
}

#home_about_boxes, #home_content_boxes {
	float: left;
}

#home_content_boxes {
	border-top: none;
	border-bottom: none;
}

.home_about_box {
	float: left;
	width: 145px;
	padding: 0 5px 0px 0;
	margin: 0px 0 30px 0;
}

.home_content_box {
	float: left;
	width: 349px;
	padding: 0 15px 0 0;
	margin: 10px 20px 15px 0;
	border-right: 1px solid #ddd;
}

.home_about_box:last-of-type, .home_content_box:last-of-type {
	margin-right: 0;
	border-right: none;
}

#home_sidebar {
	float: right;
	width: 145px;
	margin-top: 20px;
	margin-left: 25px;
	background: #ddd;
	border-radius: 10px;
	padding: 15px;
}

.box_cols {
	width: 510px;
	float: left;
	column-count: 2;
	column-gap: 40px;
	margin: 30px 0 10px 0;
	padding: 20px;
	background: #ddd;
}

.box_cols p {
	font-family: "Roboto", Arial, sans-serif !important;
	font-size: 11pt !important;
	/*text-align: justify !important;*/
}

.box_cols h3 {
	margin-top: 0 !important;
	padding-top: 0 !important;
	line-height: 1.15em !important;
	border-bottom: 1px solid #777;
	padding-bottom: 10px !important;
	margin-bottom: 7px !important;
	font-style: italic;
}

@media screen and (max-width: 799px) {

    .home_box {
		float: left !important;
        width: 100% !important;
		border-right: 0 !important;
		padding-right: 0 !important;
		border-bottom: 1px solid #ddd !important;
		padding-bottom: 15px !important;
		margin-bottom: 0px !important;
    }

    #home_sidebar {
    	display: none;
    }

    #header_left {
    	width: 75% !important;
    }

    #header_left h2 {
    	width: auto !important;
    }

    #header_right {
    	width: 25% !important;
    }

    img.half {
    	width: 100% !important;
    }
	
	.home_box:last-of-type {
		border-bottom: none !important;
	}
	
	.content_image_caption {
		width: 100% !important;
		margin: 0 !important;
	}
		
	blockquote {
		margin-left: 0 !important;
		width: 90% !important;
		padding-left: 4% !important;
		padding-right: 5% !important;
	}
	
	#home_posts_list {
		width: 100% !important;
		padding-bottom: 5px !important;
	}
	
	#home_posts_list .blog_entry_date {
		width: 30% !important;
	}

	#home_posts_list .blog_entry_title {
		width: 100% !important;
	}
	
	.home_about_box .home_content_box_title_left {
		display: none !important;
	}

	.post_content_container_int {
		width: 100% !important;
	}
	
	.flex {
		display: none;
	}
	
	.non_flex {
		display: block;
	}
	
	nav {
		display: none;
	}

	nav.pagination {
		display: block !important;
		padding-bottom: 15px !important;
	}
	
	.blog-index-col {
		width: 100% !important;
	}
	
	#blog-index-cols h2,.blog-index-pinned-post {
		width: 91.5% !important;
	}
	
	.home_content_box_title_left.reading-list {
		width: 30% !important;
	}
	
	.home_content_box_title_right.reading-list {
		width: 70% !important;
	}

	.big_quote {
		padding-left: 5% !important;
		padding-right: 5% !important;
		margin-left: 0 !important;
		width: 90% !important;
	}

	.box_cols {
		columns: 1 !important;
		width: 90% !important;
		padding-left: 5% !Important;
		padding-right: 5% !important;
	}

	.box_cols h3 {
		margin-bottom: 0px !important;
	}
}

@media screen and (max-width: 749px) and (prefers-color-scheme: dark) {
	.home_box {
		border-bottom: 1px solid #555 !important;
    }
	
	.home_box:last-of-type {
		border-bottom: none !important;
	}
}

.home_content_box_title {
	width: 100%;
	float: left;
	display: none;
}

.home_content_box_title_left {
	float: left;
	width: 50%;
}

.home_content_box_button {
	float: right;
	padding: 5px 10px;
	margin-right: 10px;
	margin-top: 5px;
	color: #009688;
	background: #fff;
	border: 1px solid #009688;
	border-radius: 5px;
}

.home_content_box_title_left .home_content_box_button {
	float: left;
}

.home_content_box_button:hover, .home-button:hover {
	background: #009688;
	color: #fff;
}

.home_content_box_title_right {
	float: right;
	width: 50%;
	padding-bottom: 10px;
}

.home_about_box h2, .home_content_box h2, #home_posts_list h2 {
	float: left !important;
	font-size: 10pt !important;
	line-height: 1.2em !important;
	text-transform: uppercase !important;
	width: 100% !important;
	padding-bottom: 10px !important;
	margin-top: 10px !important;
	margin-bottom: 0 !important;
}

.home_about_box h2 {
	margin-top: 0 !important;
	padding-left: 5px !important;
}

.home_about_box p, .home_content_box p, #home_posts_list p {
	float: left !important;
	font-size: 11pt !important;
	padding: 0 0 10px 0 !important;
	line-height: 1.4em !important;
	font-family: "Roboto", Arial, sans-serif !important;
}

.home_about_box ul, .home_content_box ul {
	float: left !important;
	font-size: 11pt !important;
	line-height: 1.4em !important;
	margin: 0 !important;
	padding: 0 0 0 20px !important;
}

.home_about_box ul li, .home_content_box ul li {
	float: left !important;
	width: 100% !important;
	margin: 0 0 5px !important;
	padding: 0 0 0 5px !important;
}

.home_about_box p:last-of-type {
	padding-bottom: 5px;
}

.home_content_box a, #home_posts_list a {
	text-decoration: none;
	color: #333;
	border-bottom: none !important;
}

.year_label, #home_posts_list .blog_entry_date {
	font-weight: bold;
	font-family: "Roboto", Arial;
	padding-right: 5px;
	color: #009688;
}

#home_posts_list .blog_entry_date {
	float: left;
}

#home_posts_list .blog_entry_title {
	float: left;
	width: 100%;
}

#home_posts_list .blog_entry_excerpt {
	float: left;
	color: #555;
	height: 75px;
	mask-image: linear-gradient(180deg, black 70%, transparent 100%);
}

.blog_entry, .blog_entry_date, .blog_entry_title {
	float: left;
}

.blog_entry {
	width: 100%;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
}

.blog_entry:hover {
	opacity: 0.8;
}

#home_posts_list {
	width: 550px;
	float: left;
	padding: 25px 0 20px;
}

.post_content_container_ext {
	float: left;
	width: 100%;
	border-top: 1px solid #ddd;
}

.post_content_container_int {
	float:left;
	width: 550px;
	padding-top: 5px;
}

#prev_next {
	float: left;
	width: 100%;
	margin-top: 25px;
	font-weight: normal;
	font-style: italic;
	font-size: 12pt;
}

.prev {
	float: left;
	width: 45%;
	padding-right: 5%;
}

.next {
	text-align: right;
	float: right;
	width: 45%;
	padding-left: 5%;
}

#footer {
	float: left;
	width: 100%;
	border-top: 1px solid #ddd;
	padding: 20px 0;
	margin: 0 0 30px;
}

.post #footer {
	margin-top: 20px;
}

.home #footer {
	padding-top: 20px;
	margin-top: 0px;
}

.home-link {
	float: right;
	font-style: italic;
	color: #555;
}

img {
	float: left;
	width: 100%;
}

img.half {
	width: 70%;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

img a {
	border: none;
	border-bottom: none !important;
}

.content_image {
	padding-top: 30px;
}

.content_image_caption {
	float: left;
	width: 70%;
	text-align: center;
	font-size: 10pt;
	line-height: 1.2em;
	margin: 0 15%;
	padding: 5px 0 10px;
	font-style: italic;
}

a {
	text-decoration: none;
	color: #009688;
	border-bottom: 1px solid #009688;
}

#prev_next a, #next a {
	text-decoration: none;
	color: #333;
}

h1, .blog_entry_title {
	float: left;
	font-size: 22pt;
	line-height: 1.2em;
	margin-bottom: 10px;
	width: 100%;
	font-weight: bold;
}

h1 {
	margin-top: 20px;
}

.blog_entry_title {
	font-size: 16.25pt;
	margin-bottom: 5px;
}

h2  {
	float: left;
	font-size: 24pt;
	margin: 10px 0;
}

#header h2 {
	color: #333;
}

h3 {
	float: left;
	margin: 0;
	padding-top: 50px;
}

p {
	float: left;
	width: 100%;
	padding: 20px 0 0;
	margin: 0;
}

article {
	float: left;
	width: 100%;
	border-top: 1px solid #ddd;
}

.post p, #home_posts_list .blog_entry_excerpt {
	font-family: "PT Serif", Georgia;
	font-size: 12pt;
	line-height: 1.5em;
}

.post h3 {
	font-size: 18pt;
	width: 100%;
}

.post h4 {
	float: left;
	font-size: 12pt;
	line-height: 1.4em;
	padding: 40px 0 0 0;
	margin: 0;
}

.post ol, .post ul {
	float: left;
	margin: 30px 0 -5px;
	padding: 0 0 0 5%;
	font-size: 12pt;
	line-height: 1.5em;
	width: 95%;
	font-family: 'PT Serif', 'Georgia', serif;
}

.post ol p, .post ul p {
	padding: 0px !important;
	margin: 0 10px 0 0 !important;
	width: 95% !important;
	float: right !important;
}

.post ol {
	list-style: none;
	counter-reset: item;
	font-family: 'PT Serif', 'Georgia', serif;
}

.post ol li {
	counter-increment: item;
	width: 100%;
}

.post ol li:before {
	content: counter(item) ".  ";
	color: #009688;
	font-weight: bold;
	margin-left: -23px;
	padding-right: 5px;
	width: 1.2em;
	text-align: center;
	display: inline-block;
}

.post li {
	float: left;
	padding-bottom: 15px;
	padding-left: 10px;
	width: 100%;
}

blockquote, .highlight {
	float: left;
	font-size: 12pt;
	line-height: 1.4em;
	border-left: 5px solid #009688;
	padding-left: 15px;
	width: 495px;
	margin: 20px 0 10px 20px;
	font-style: italic;
}

blockquote {
	margin-top: 30px;
}

figure {
	float: left;
	width: 100%;
	padding: 0;
	margin: 30px 0 0;
}

figcaption {
	float: left;
	width: 100%;
	text-align: center;
	font-size: 10pt;
	padding-top: 5px;
	font-style: italic;
}

.highlight {
	overflow-x: auto;
	width: 95%;
	margin-left: 0;
	background: #ddd;
	color: #333;
}

.highlight pre {
	margin-top: 0;
}

.language-python {
	float: left;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}

blockquote p:first-of-type {
	padding-top: 0 !important;
}

.meta {
	float: left;
	text-transform: uppercase;
	font-size: 12pt;
	padding-bottom: 20px;
}

.meta a {
	text-decoration: none;
	color: #333;
	border-bottom: none !important;
}

::selection {
	background: #009688;
	color: #ddd;
}

.post table {
	float: left;
	width: 100%;
	margin-top: 20px;
	font-size: 11pt !important;
}

.post tr:nth-child(odd) {
	background: #eee
}

.post tr:nth-child(even) {
	background: #ddd
}

.post tr:first-of-type {
	background: #009688 !important;
}

.post tr:first-of-type a {
	color: #fff !important;
	border-bottom: 1px solid #fff !important;
}

.post table tr:first-of-type {
	border-bottom: 5px solid #009688;
	color: #fff;
}

.post td {
	padding: 5px;
}

#cta {
	float: left;
	background: #ddd;
	color: #333;
	padding: 15px 15px;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 11pt;
	line-height: 1.5em;
	margin: 40px 0 20px;
	border-radius: 10px;
}

#cta a {
	color: #009688;
}

#fourohfour {
	float: left;
	width: 100%;
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
}

#fourohfour p {
	padding-top: 5px;
}

nav {
	padding: 5px 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	float: left;
	width: 100%;
	margin: 0;
	text-align: center;
}

hr {
	float: left;
	width: 100%;
	margin: 20px 0 0 0;
}

.home-button {
	width: 135px;
	float: left;
	padding: 5px;
	margin-bottom: 5px;
	font-size: 11pt;
	color: #333;
	/*border: 1px solid #666;*/
	border-radius: 5px;
}

.green-button {
	color: #333;
	background: #bbb;
}

.green-button:hover {
	/*border: 1px solid #009688;*/
}

a.home-index {
	color: #333;
}

a.home-index:hover {
	opacity: 0.8;
}

#blog-index-pinned {
	float: left;
	padding: 0;
	line-height: 1.4em;
	width: 100%;
	border-top: 1px solid #ddd;
	margin-top: -25px;
	padding-top: 0px;
}

#blog-index-pinned .home_content_box_title {
	padding-top: 0 !important;
	margin-top: 0 !important;
	border-top: none !important;
}

.blog-index-pinned-post {
	float: left;
	border: 1px solid #009688;
	border-radius: 5px;
	padding: 5px 10px;
	width: 208px;
	margin-right: 20px;
	margin-bottom: 15px;
}

.blog-index-pinned-post:hover {
	opacity: 0.8;
}

.blog-index-pinned-post p {
	line-height: 1.4em;
	padding: 0 !important;
}

.blog-index-pinned-post-title {
	margin: 5px 0;
	font-weight: bold;
}

.blog-index .home_content_box_title {
	padding-top: 10px;
	border-top: 1px solid #ddd;
}

.blog-index-col {
	float: left !important;
	width: 50% !important;
}

.reading-list li {
	margin-bottom: 10px !important;
}

#side_menu, #interest_list, #other_posts_list {
	float: left;
}

#side_menu ul, #interest_list ul, #other_posts_list ul {
	float: left;
	margin: 0 !important;
	padding: 0 !important;
	list-style: none;
}

#side_menu ul li, #other_posts_list ul li {
	float: left;
	width: 130px !important;
	margin: 0 !important;
	padding: 5px !important;
	border-top: 1px solid #aaa;
	display: block;
}

#interest_list ul {
	padding-left: 5px !important;
}

#interest_list ul li {
	width: auto !important;
	float: left !important;
	padding: 1px 5px !important;
	margin: 0px 5px 5px 0 !Important;
	background: #bbb !important;
	display: block !important;
	border-radius: 5px !important;
	font-size: 9pt !important;
	text-transform: uppercase !important;
}

#other_posts_list ul li {
	font-size: 10pt !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

#side_menu a, #other_posts_list a {
	color: #333;
}

#side_menu a:hover, #other_posts_list a:hover, #interest_list ul li:hover {
	opacity: 0.8;
}

#side_menu .first, #other_posts_list .first {
	border-top: none !important;
}

#home_sidebar p {
	font-size: 10pt !important;
	padding-left: 5px !important;
	width: 135px !important;
}

#home_sidebar .year_label {
	font-size: 11pt !important;
}

.blog-index #home_posts_list {
	width: 100% !important;
}

.blog-index h2 {
	width: 355px !important;
}

a.current {
	color: #009688 !important;
}

#blog-index-cols {
	width: 100% !important;
	float: left !important;
	padding: 0px 0 20px !important;
	margin-top: -10px;
}

#blog-index-cols h2 {
	font-size: 12pt !important;
	width: 85% !important;
	color: #333 !important;
	background: none !important;
	border: 1px solid #666 !important;
	border-radius: 5px !important;
	padding: 5px 10px !important;
	font-weight: normal !important;
	margin-bottom: 5px !important;
}

#blog-index-cols h2.green-title {
	margin-top: 20px !important;
	margin-bottom: 5px !important;
	border: 1px solid #666 !important;
	color: #333 !important;
	background: #ddd !important;
}

#blog-index-cols ul {
	float: left !important;
	margin-top: 0px !important;
	margin-bottom: 20px !important;
}

#blog-index-cols li {
	float: left !important;
	width: 100% !important;
}

#blog-index-cols a:hover {
	opacity: 0.8 !important;
}

@media (prefers-color-scheme: dark) {
	#blog-index-cols h2 {
		color: #ddd !important;
	}
	#blog-index-pinned {
		border-top: 1px solid #444;
	}
	#blog-index-bestof {
		border-top: 1px solid #444 !important;
		border-bottom: 1px solid #444 !important;
	}
	#interest_list ul li {
		background: #555 !important;
	}
	code {
		background: #444 !important;
	}
	.big_quote {
		color: #ccc !important;
	}
	.box_cols {
		background: #444 !important;
		color: #ddd !important;
	}
	.box_cols h3 {
		border-bottom: 1px solid #ddd;
	}
}

.pagination {
	float: left !important;
	width: 100% !important;
	border: none !important;
}

.pagination a {
	border-bottom: 1px solid #009688 !important;
	font-style: italic;	
}

.page_number {
	float: left !important;
	text-align: center !important;
	width: 40% !important;
}

div.page_previous {
	float: left !important;
	width: 30% !important;
	height: 24px !important;
}

div.page_next {
	float: right !important;
	width: 30% !important;
	height: 24px !important;
	text-align: right !important;
}

a.page_next {
	float: right !important;
}

article.blog_entry {
	border-top: none !important;
}

#home_sidebar ul li {
	font-family: "Roboto", Arial, sans-serif !important;
}

h2.blog_index {
	margin-top: 0 !important;
	padding-top: 0 !important;
}

#blog-index-bestof {
	float: left;
	width: 100%;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin: 10px 0;
	padding-bottom: 10px;
}

#blog-index-bestof a:hover {
	opacity: 0.8;
}

p code {
	font-family: "Courier New";
	background: #ddd;
	padding: 0 5px;
}

.big_quote {
	width: 510px;
	font-family: "PT Serif", Georgia;
	font-style: italic;
	font-size: 18pt;
	margin: 30px 0 10px 0;
	padding: 20px;
	border-left: 0;
	border-top: 2px solid #009688;
	border-bottom: 2px solid #009688;
	color: #555;
}

#newsletter_post {
	float: left;
	text-align: center;
	margin: 30px 0 0px;
	border-top: 1px solid #ddd;
}

#newsletter_post h3 {
	font-size: 16pt !important;
	margin-bottom: 0px !important;
}

#newsletter_post p {
	padding: 5px 0 15px 0 !important;
}

#newsletter_post iframe {
	padding: 0 0 0 45px;
    -ms-zoom: 0.85;
    -moz-transform: scale(0.85);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.85);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.85);
    -webkit-transform-origin: 0 0;
}

sup {
	vertical-align: top;
	position: relative;
	top: -0.5em;
	font-size: 0.6em;
}

p sup a {
	border-bottom: none !important;
}